
    
<div class="jumbotron">
    <div class="container" style="text-align:center;">
  <h1>Learn how to learn</h1>

  <p class="btn btn-primary btn-lg cta-btn" href="#" role="button"> Sign Up</p>
    </div>
</div>
    
    <div class="row">
        <div class="container">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Blog Post Title #1</h3>
        <p>Blog Post Summary</p>
        <p><a href="#" class="btn btn-default" role="button">Read</a></p>
      </div>
    </div>
  </div>
      <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Blog Post Title #2</h3>
        <p>Blog Post Summary</p>
        <p><a href="#" class="btn btn-default" role="button">Read</a></p>
      </div>
    </div>
  </div>
      <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Blog Post Title #3 </h3>
        <p>Blog Post Summary</p>
        <p><a href="#" class="btn btn-default" role="button">Read</a></p>
      </div>
    </div>
  </div>
</div>
    </div>
</body>
</html>